@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphic {
  /* Add a glassmorphic effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  /* Make the div slightly transparent */
  opacity: 0.9;
}
